
body{
  background-image: url('bkg.jpeg');
  background-size: cover;
}

.bg-yellow
{
  background: rgba(255, 255, 255, 0.528);
}

.blurred
{
filter:blur(5px)
}

.blurred:hover{
  filter: blur(0)
}

.card {
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #424242;
  width: 300px;
}

.card button {
  border-radius: 0 0 4px 4px;
}

.card img {
  border-radius: 4px 4px 0 0;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.card,
.content {
  color: #e0e0e0;
}
